<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body style="padding: 0;margin: 0;">
<div style="width:100vw;background:rgba(255,255,255,1);box-shadow:0px 2px 4px 0px rgba(0,0,0,0.05);padding: 5.1875vw 0;">
  <div style="width:85%;font-size:54px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);margin: 0 auto;text-align: center;">产品特色</div>
  <div style="width:34.6875vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);margin: 0 auto;text-align: center;margin-top: .3vw;">对“大体验”设计相关需求，小到一个ico、banner设计，大到一套VI、UI视觉系统，改进我们的产品体验而努力…</div>
  <div style="width: 100%;display: flex;align-items: center;justify-content: space-around;margin-top: 5.625vw;">
    <div>
      <div style="width:4.25vw;height:4.25vw;background:rgba(249,251,252,1);border-radius:4.25vw;border:1px solid rgba(157,175,189,1);text-align: center;margin: 0 auto;"></div>
      <div style="width:14.5vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);text-align: center;margin-top: 1.875vw;">设计需求管理</div>
      <div style="width:14.5vw;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);text-align: center;margin-top: .5vw;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">归口到 MUC|移动用户体验中心 统一管理，统一协调设计资源展开设计、咨询、评审等工作</div>
    </div>
    <div>
      <div style="width:4.25vw;height:4.25vw;background:rgba(249,251,252,1);border-radius:4.25vw;border:1px solid rgba(157,175,189,1);text-align: center;margin: 0 auto;"></div>
      <div style="width:14.5vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);text-align: center;margin-top: 1.875vw;">设计立项管理</div>
      <div style="width:14.5vw;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);text-align: center;margin-top: .5vw;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">全部产品设计相关需求立项工作：由统筹整体资源，统一立项并进行设计项目管理</div>
    </div>
    <div>
      <div style="width:4.25vw;height:4.25vw;background:rgba(249,251,252,1);border-radius:4.25vw;border:1px solid rgba(157,175,189,1);text-align: center;margin: 0 auto;"></div>
      <div style="width:14.5vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);text-align: center;margin-top: 1.875vw;">设计质量把控</div>
      <div style="width:14.5vw;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);text-align: center;margin-top: .5vw;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">全部产品的“宣传材料”、“UI/UE界面”相关的环节必须由MUC|移动用户体验中心统一质量把控、设计评审</div>
    </div>
    <div>
      <div style="width:4.25vw;height:4.25vw;background:rgba(249,251,252,1);border-radius:4.25vw;border:1px solid rgba(157,175,189,1);text-align: center;margin: 0 auto;"></div>
      <div style="width:14.5vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);text-align: center;margin-top: 1.875vw;">设计跟进监督</div>
      <div style="width:14.5vw;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);text-align: center;margin-top: .5vw;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">发布《产品体验设计指数报告》等形式对各产品线设计质量监管，更好改进“大体验”设计来提升品牌价值</div>
    </div>
  </div>
</div>

<div style="width:100vw;background:rgba(255,255,255,1);box-shadow:0px 2px 4px 0px rgba(0,0,0,0.05);padding: 5.1875vw 0;margin-top: 10px;">
  <div style="width:85%;font-size:54px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);margin: 0 auto;text-align: center;margin-top: 5.1875vw;;">产品特色</div>
  <div style="width:34.6875vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);margin: 0 auto;text-align: center;margin-top: 5px;">对“大体验”设计相关需求，小到一个ico、banner设计，大到一套VI、UI视觉系统，改进我们的产品体验而努力…</div>
  <div style="width: 100%;display: flex;align-items: center;justify-content: center;margin-top: 5.625vw;">
    <div style="width:22.5625vw;height:18.75vw;background:rgba(238,242,244,1);border-radius:5px;margin-right: 1.875vw;text-align: center;">
      <div style="width:14.5vw;font-size:18px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(2,111,194,1);text-align: center;margin-top: 1.875vw;margin: 6.75vw auto 0 auto;">设计需求管理</div>
      <div style="width:14.5vw;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:rgba(157,175,189,1);text-align: center;margin-top: .5vw;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin: .5vw auto 0 auto;">对“大体验”设计相关需求，包括视觉设计、体验设计、工业设计，改进我们的产品体验而努力</div>
    </div>
    <div style="width:22.5625vw;height:18.75vw;background:rgba(209,219,227,1);border-radius:5px;margin-right: 1.875vw;"></div>
    <div style="width:22.5625vw;height:18.75vw;background:rgba(209,219,227,1);border-radius:5px;"></div>
  </div>
</div>

</body>
</html>
